<p style="text-align: center;"><strong>Привет как дела?</strong></p>
<p>&nbsp;Попробуем немного поэксперементировать с текстом:)</p>
<p style="text-align: right;">Давайте напишем текст в разнобой.</p>
<p style="text-align: center;"><span style="text-decoration: underline;"><em>Как душе угодно.</em></span></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><em><img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></em></span></p>